// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-brand{

    .brand {
        height: 40px;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color:white !important;
}

.home-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.margin-menu {
    margin-top: 40px
}

.form-stock { 
    display: flex;
}

.in-line { 
    background-color: aliceblue;
}

.out-line { 
    background-color: crimson;
    color: white;
}

.img-product {
    width: 100%;
}